@tailwind base;
@tailwind components;
@tailwind utilities;

/* Ensure no margins or padding on html and body */
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-x: hidden;
}

#root {
  height: 100%;
}